/* STYLES APPLYING TO TWO OR MORE TEMPLATES */
/*********************************************************************/

/* ELEMENT DEFAULTS */
body {
  background-color: #1c1c1c;
  min-width: 300px;
}

h1, h2, p, a, button, input, select {
  color: #afffff;
}

h1 {
  font-family: 'Bungee', cursive;
  font-size: 2.25rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

ul {
  list-style: none;
}

/* HIDDEN SECTIONS */
#register-form-section,
#ticker-search-form-section,
#create-wl-form-section,
#edit-wl-form-section,
#email-form-section,
#username-form-section,
#password-form-section {
  display: none;
}

/* NAVBAR */
#navbar {
  background-color: #1c1c1c;
}

.navbar-brand, .navbar-brand:focus,
.nav-link, .nav-link:focus {
  color: #afffff;
  background-color: rgba(28, 28, 28, 0);
}

.navbar-brand {
  font-family: 'Bungee', cursive;
  font-size: 1.4rem;
}

.navbar-brand:hover, .navbar-brand:focus-visible, .navbar-brand:active {
  color: #afffff !important;
}

.nav-link, .nav-link:focus {
  text-decoration: underline;
  text-decoration-color: transparent;
  border-width: 0;
  transition: .2s ease-in-out !important;
}

.nav-link:hover, .nav-link:focus-visible, .nav-link:active {
  color: #afffff !important;
  text-decoration-color: #afffff !important;
}

.nav-current {
  text-decoration: underline;
}

.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:focus {
  color: #afffff; 
  line-height: 1.56 !important;
  border: 1px solid rgba(28, 28, 28, 0.0) !important;
  border-radius: 50% !important;
  box-shadow: none;
  transition: .2s ease-in-out;
}

.navbar-toggler:focus-visible, .navbar-toggler:active {
  color: #afffff;
  border: 1px solid rgba(175, 255, 255, .5) !important;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  font-size: 1.5rem;
  background-image: none !important;
}

.navbar-toggler-icon::after {
  font-family: 'Material Symbols Outlined';
  content: '\e5d2';
}

.navbar-scrolling {
  background-color: rgba(28, 28, 28, 0.9) !important;
  backdrop-filter: blur(3px);
}

/* FLASH MESSAGES */
.flash-msg {
  color: #afffff;
  background-color: #3e75f5;
  border-radius: 0.25rem !important;
  box-shadow: 0 1px 6px 0 #161616, 0 4px 6px 0px #161616 !important;
}

/* FORMS AND FIELDS */
.form-control, .form-control:focus {
  color: #afffff;
  line-height: 1.3;
  background-color: #1c1c1c;
  border: 1px solid rgba(175, 255, 255, .5);
  border-radius: 0.25rem;
  box-shadow: none;
  transition: .2s ease-in-out;
}

.form-control:hover, .form-control:focus-visible, .form-control:active {
  color: #afffff !important;
  background-color: #363636 !important;
  border: 1px solid #363636 !important;
  box-shadow: 0 1px 6px 0 #161616, 0 4px 6px 0px #161616 !important;
}

.form-max-width {
  max-width: 500px;
}

.form-error {
  color: #ff6389;
}

/* BUTTONS AND LINKS */
.btn-main, .btn-main:focus {
  color: #afffff;
  background-color: #363636;
  font-size: 15px;
  line-height: 1.3;
  border: 1px solid #363636;
  border-radius: 0.25rem;
  padding: 6px 16px 6px 16px;
  transition: .2s ease-in-out;
}

.btn-main:hover, .btn-main:focus-visible, .btn-main:active  {
  color: #afffff !important;
  background-color: #363636 !important;
  border: 1px solid rgba(175, 255, 255, .5) !important;
  box-shadow: none !important;
}

.btn-link, .btn-link:focus {
  text-decoration: underline;
  text-decoration-color: transparent;
  color: #89acff;
  transition: .2s ease-in-out !important;
}

.btn-link:hover, .btn-link:focus-visible, .btn-link:active {
  color: #89acff !important;
  text-decoration: underline !important;
  box-shadow: none !important;
  cursor: pointer;
}

.btn-round {
  height: 36px;
  width: 36px;
  flex-basis: 36px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  transition: .2s ease-in-out;
}

.btn-close, .btn-close:hover, .btn-close:focus {
  color: #afffff;
  background: none !important;
  opacity: 1.0 !important;
  border: 1px solid #3e75f5 !important;
  box-shadow: none;
}

.btn-close:focus-visible, .btn-close:active {
  border: 1px solid rgba(175, 255, 255, .5) !important;
  box-shadow: none !important;
}

.btn-remove, .btn-remove:focus {
  color: #afffff;
  background-color: #363636;
  border: 1px solid #363636;
  box-shadow: none;
}

.btn-remove:hover {
  color: #ff6389 !important;
  background-color: #4e4e4e;
  border: 1px solid #4e4e4e;
}

.btn-remove:focus-visible, .btn-remove:active {
  color: #ff6389 !important;
  background-color: #4e4e4e !important;
  border: 1px solid rgba(255, 99, 132, .5) !important;
  box-shadow: none !important;
}

#btn-delete {
  border-radius: 0.25rem;
}

#btn-delete:hover, #btn-delete:focus-visible, #btn-delete:active {
  background-color: #363636 !important;
  border: 1px solid rgba(255, 99, 132, .5) !important;
}

/* TABLES */
#table-section {
  background-color: #363636;
  border-radius: 0.25rem;
}

.table {
  color: #afffff;
  border-bottom-color: rgba(175, 255, 255, .5);
}

.td-no-border {
  border-bottom-width: 0 !important;
}

/* LIST GROUPS */
.list-group-item {
  background-color: #1c1c1c;
  padding-right: 0 !important;
  padding-left: 0 !important;
  border-bottom-width: 0 !important;
}

.lg-item-heading, .lg-item-heading:focus {
  color: #89acff;
  font-weight: 400;
  text-decoration: none;
}

.lg-item-heading:hover, .lg-item-heading:focus-visible, .lg-item-heading:active {
  color: #89acff;
  font-weight: 400;
  text-decoration: underline;
}

/* TREND ICONS */
.trend-icon {
  vertical-align: middle;
}

.trending_up {
  color: #5bff92;
}

.trending_down {
  color: #ff6389;
}

/* WATCHLIST DATES/TIMES */
.watchlist-datetimes {
  color: #585858;
  font-style: italic;
}


/* SINGLE TEMPLATE STYLES */
/*********************************************************************/

/* LOGGED-IN HOME */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#add-searchfield-btn, #add-searchfield-btn:focus {
  color: #afffff;
  background-color: #363636;
  border: 1px solid #363636;
  box-shadow: none;
}

#add-searchfield-btn:hover, #add-searchfield-btn:focus-visible, #add-searchfield-btn:active {
  color: #afffff !important;
  background-color: #3e75f5 !important;
  border: 1px solid #3e75f5 !important;
  box-shadow: none !important;
}

/* COMPANY INFO */
.chart {
  background-color: #363636;
  border-radius: 0.25rem;
}

#inst-holders {
  color: #afffff;
  background-color: #363636;
  border-radius: 0.25rem;
}

/* USER INFO */
#delete-acct-icon {
  font-size: 18px;
  margin-left: -2px;
  margin-right: 2px;
}
