{% extends 'base.html' %}
{% block title %}{{ company.name }} ({{ company.ticker }}){% endblock %}
{% block h1 %}{{ company.name }} ({{ company.ticker }}){% endblock %}
{% block content %}
<h2>Description:</h2>
<p>{{ company.description }}</p>
<h2>Data:</h2>
<table style="border: 1px solid black">
  <thead>
    <tr>
      <th colspan="100%" style="border: 1px solid black">EPS Data (Most Recent First)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th style="border: 1px solid black">Quarterly EPS Growth (%)</th>
      <th style="border: 1px solid black">Annual EPS Growth (%)</th>
    </tr>
    <tr>
      <td style="border: 1px solid black">{{ company.q_eps_growth_first if company.q_eps_growth_first != None else '--' }}</td>
      <td style="border: 1px solid black">{{ company.a_eps_growth_first if company.a_eps_growth_first != None else '--' }}</td>
    </tr>
    <tr>
      <td style="border: 1px solid black">{{ company.q_eps_growth_next if company.q_eps_growth_next != None else '--' }}</td>
      <td style="border: 1px solid black">{{ company.a_eps_growth_next if company.a_eps_growth_next != None else '--' }}</td>
    </tr>
    <tr>
      <td style="border: 1px solid black">{{ company.q_eps_growth_last if company.q_eps_growth_last != None else '--' }}</td>
      <td style="border: 1px solid black">{{ company.a_eps_growth_last if company.a_eps_growth_last != None else '--' }}</td>
    </tr>
  </tbody>
</table>
<p><strong>Institutional Holders:</strong> {{ company.institutional_holders }}</p>
{% if watchlists %}
<h2>Add to a watchlist?</h2>
<form action="{{ url_for('show_company_info', ticker=company.ticker) }}" method="post">
  {{ add_to_watchlist_form.hidden_tag()}}
  {% for field in add_to_watchlist_form if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label(class_="form-label") if field.widget.input_type != 'submit' }}
    {{ field(class_="form-control") }}
    {% for e in field.errors %}
    <small>{{ e }}</small>
    {% endfor %}
  </p>
  {% endfor %}
</form>
{% endif %}
{% endblock %}
{% block scripts %}
{% endblock %}
