{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block h1 %}Home{% endblock %}
{% block content %}
<div id="login-section">
  <form action="{{ url_for('show_home') }}" method="post">
    {{ login_form.hidden_tag()}}
    {% for field in login_form if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label(class_="form-label") }}
      {{ field(class_="form-control") }}
      {% for e in field.errors %}
      <small>{{ e }}</small>
      {% endfor %}
    </p>
    {% endfor %}
    <input type="submit" value="Log In">
  </form>
  <p>Don't have an account? Register <a href="#" id="register-section-show">here</a>!</p>
</div>
<div id="register-section">
  <form action="{{ url_for('show_home') }}" method="post">
    {{ register_form.hidden_tag()}}
    {% for field in register_form if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label(class_="form-label") }}
      {{ field(class_="form-control") }}
      {% for e in field.errors %}
      <small>{{ e }}</small>
      {% endfor %}
    </p>
    {% endfor %}
    <input type="submit" value="Register">
  </form>
  <p>Already have an account? Log in <a href="#" id="login-section-show">here</a>!</p>
</div>
{% endblock %}
{% block scripts %}
<script src={{ url_for('static', filename='loginFormToggle.js') }}></script>
{% endblock %}
