{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block h1 %}Home{% endblock %}
{% block content %}

<!-- FOR WORK ON REGULAR FORM -->

<!--
<form action="">
  <div>
    <select>
      <option></option>
      <option>latest quarterly eps growth</option>
      <option>1 quarter ago eps growth</option>
      <option>2 quarters ago eps growth</option>
      <option>latest yearly eps growth</option>
      <option>1 year ago eps growth</option>
      <option>2 years ago eps growth</option>
    </select>
    <select>
      <option></option>
      <option>></option>
      <option><</option>
      <option>=</option>
    </select>
    <input type="number">
    <button type="button" class="remove-condition">x</button>
  </div>
  <button type="button" id="new-condition">add another condition</button>
  <input type="submit" value="submit">
</form>
-->

<!-- FOR WORK ON WTFORMS FORM -->

<form action="{{ url_for('show_results') }}" method="get">
  {{ search_form.hidden_tag() }}
  {% for subform in search_form if subform.widget.input_type != 'hidden' %}
    {{ subform.label(class_="form-label") }}
    {{ subform(class_="form-control") }}
    {% for e in subform.errors %}
    <small>{{ e }}</small>
    {% endfor %}
  {% endfor %}
  <input type="submit">
</form>

{% endblock %}
{% block scripts %}
<script src={{ url_for('static', filename='newCondition.js') }}></script>
{% endblock %}
