{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row justify-content-start">
  <div class="col col-xs-auto col-xl-10 col-xxl-8 px-xs-3 px-sm-5 pt-5 pb-0">
    <h1 class="mb-5">Home</h1>
    <div id="multiple-search-form-section">
      <h2>Multiple Conditions Search</h2>
      <form action="{{ url_for('show_results') }}" id="multiple-search-form" method="get">
        {{ search_form.hidden_tag() }}
          <ul class="searchfields ps-0 mb-0">
            {% for subform in search_form %}
            <li class="d-flex mt-3">
              <div class="input-group">
                {% for searchfield in subform %}
                {% for field in searchfield %}
                {% if field.widget.input_type != 'number' %}
                  {{ field(class_="form-control form-select") }}
                {% else %}
                  {{ field(class_="form-control") }}
                {% endif %}
                {% for e in field.errors %}
                <small class="form-error d-block">{{ e }}</small>
                {% endfor %}
                {% endfor %}
                {% endfor %}
              </div>
            </li>
            {% endfor %}
          </ul>
        <button type="button" id="add-searchfield-btn" class="btn btn-outline-secondary position-relative float-end mt-3"><span class="material-symbols-outlined position-absolute top-50 start-50 translate-middle">add</span></button>
        <input type="submit" value="Search" class="btn btn-outline-light d-inline my-4 me-2">
        <button type="button" id="ticker-search-form-section-show" class="btn btn-outline-light d-inline my-4">Switch to Ticker Search</button>
      </form>
    </div>
    <div id="ticker-search-form-section" style="display: none">
      <h2>Ticker Search</h2>
      <form action="{{ url_for('show_results') }}" id="ticker-search-form" method="get">
        {{ search_by_ticker_form.hidden_tag()}}
        {% for field in search_by_ticker_form if field.widget.input_type != 'hidden' %}
          {{ field(class_="form-control form-max-width mt-3") }}
        {% for e in field.errors %}
        <small class="form-error d-block">{{ e }}</small>
        {% endfor %}
        {% endfor %}
        <input type="submit" value="Search" class="btn btn-outline-light d-inline my-4 me-2">
        <button type="button" id="multiple-search-form-section-show" class="btn btn-outline-light d-inline my-4">Switch to Multiple Search</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src={{ url_for('static', filename='forms.js') }}></script>
<script src={{ url_for('static', filename='searchfields.js') }}></script>
{% endblock %}
