{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block h1 %}Home{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col col-xs-auto col-xl-10 col-xxl-8 px-xs-3 px-sm-5 pt-5 pb-0">
    <p class="lead">Search for companies by EPS growth and number of institutional holders. Read about companies and visualize data. Create watchlists to track these metrics over time.</p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col col-xs-auto col-sm-9 col-md-8 col-lg-7 col-xl-6 col-xxl-5 px-xs-3 px-sm-5 pt-5 pb-0">
    <div id="login-form-section">
      <h1 class="mb-5">Log In</h1>
      <form action="{{ url_for('show_home') }}" method="post">
        {{ login_form.hidden_tag()}}
        {% for field in login_form if field.widget.input_type != 'hidden' %}
        {% if field.widget.input_type != 'submit' %}
          {{ field(class_="form-control form-max-width mt-3") }}
        {% else %}
          {{ field(class_="btn btn-main my-4") }}
        {% endif %}
        {% for e in field.errors %}
        <small class="form-error d-block">{{ e }}</small>
        {% endfor %}
        {% endfor %}
      </form>
      <p>Don't have an account? Register <span id="register-form-section-show" class="btn-link">here</span>.</p>
    </div>
    <div id="register-form-section">
      <h1 class="mb-5">Register</h1>
      <form action="{{ url_for('show_home') }}" method="post">
        {{ register_form.hidden_tag() }}
        {% for field in register_form if field.widget.input_type != 'hidden' %}
        {% if field.widget.input_type != 'submit' %}
          {{ field(class_="form-control form-max-width mt-3") }}
        {% else %}
          {{ field(class_="btn btn-main my-4") }}
        {% endif  %}
        {% for e in field.errors %}
        <small class="form-error d-block">{{ e }}</small>
        {% endfor %}
        {% endfor %}
      </form>
      <p>Already have an account? Log in <span id="login-form-section-show" class="btn-link">here</span>.</p>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src={{ url_for('static', filename='forms.js') }}></script>
{% endblock %}
