{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block h1 %}Home{% endblock %}
{% block content %}
<div id="login-form-section">
  <form action="{{ url_for('show_home') }}" method="post">
    {{ login_form.hidden_tag()}}
    {% for field in login_form if field.widget.input_type != 'hidden' %}
    <p>
      {{ field }}
      {% for e in field.errors %}
      <small class="form-error">{{ e }}</small>
      {% endfor %}
    </p>
    {% endfor %}
  </form>
  <p>Don't have an account? Register <button id="register-form-section-show">here</button>!</p>
</div>
<div id="register-form-section" style="display: none">
  <form action="{{ url_for('show_home') }}" method="post">
    {{ register_form.hidden_tag() }}
    {% for field in register_form if field.widget.input_type != 'hidden' %}
    <p>
      {{ field }}
      {% for e in field.errors %}
      <small class="form-error">{{ e }}</small>
      {% endfor %}
    </p>
    {% endfor %}
  </form>
  <p>Already have an account? Log in <button id="login-form-section-show">here</button>!</p>
</div>
{% endblock %}
{% block scripts %}
<script src={{ url_for('static', filename='forms.js') }}></script>
{% endblock %}
