{% extends 'base.html' %}
{% block title %}{{ watchlist.title }}{% endblock %}
{% block h1 %}{{ watchlist.title }}{% endblock %}
{% block content %}
<p><em>Created:</em> {{ watchlist.date_created }}, <em>Updated:</em> {{ watchlist.last_updated }}</p>
{% if watchlist.description %}
<h2>Description</h2>
<p>{{ watchlist.description }}</p>
{% endif %}
<div id="watchlist-companies-section">
  <h2>Companies</h2>
  {% if watchlist.companies %}
  <ul>
    {% for company in watchlist.companies %}
    <li>
      <a href="{{ url_for('show_company_info', ticker=company.ticker) }}">{{ company.name }} ({{ company.ticker }})</a>
      <form action="{{ url_for('remove_company', username=session['username'], watchlist_id=watchlist.id, company_id=company.id) }}" method="post" style="display: inline">
        <input type="submit" value="X">
      </form>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>You haven't saved any companies in this list.</p>
  {% endif %}
</div>
<button id="watchlist-form-section-show" style="display: inline">Edit Watchlist</button>
<form action="{{ url_for('delete_watchlist', username=session['username'], watchlist_id=watchlist.id) }}" method="post" style="display: inline">
  <input type="submit" value="Delete Watchlist">
</form>
<div id="watchlist-form-section" style="display: none">
  <h2>Edit Watchlist</h2>
  <form action="{{ url_for('show_watchlist', username=session['username'], watchlist_id=watchlist.id) }}" method="post">
    {{ watchlist_form.hidden_tag()}}
    {% for field in watchlist_form if field.widget.input_type != 'hidden' %}
    <p>
      {{ field(class_="form-control") }}
      {% for e in field.errors %}
      <small>{{ e }}</small>
      {% endfor %}
    </p>
    {% endfor %}
  </form>
  <button id="watchlist-form-section-hide">Cancel</button>
</div>
{% endblock %}
{% block scripts %}
<script src={{ url_for('static', filename='forms.js') }}></script>
{% endblock %}
