{% extends 'base.html' %}
{% block title %}Saved Watchlists{% endblock %}
{% block h1 %}Saved Watchlists{% endblock %}
{% block content %}
{% if watchlists %}
<ul>
  {% for watchlist in watchlists %}
  <li>
    <a href="{{ url_for('show_watchlist', username=session['username'], watchlist_id=watchlist.id) }}">{{ watchlist.title }}</a> - [Created: {{ watchlist.date_created }}, Updated: {{ watchlist.last_updated }}]
    <button>X</button>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>You haven't created any watchlists.</p>
{% endif %}
{% endblock %}
{% block scripts %}
{% endblock %}
