{% extends 'base.html' %}
{% block title %}Saved Watchlists{% endblock %}
{% block h1 %}Saved Watchlists{% endblock %}
{% block content %}
<div id="user-watchlists-section">
  {% if watchlists %}
  <ul>
    {% for watchlist in watchlists %}
    <li>
      <a href="{{ url_for('show_watchlist', username=session['username'], watchlist_id=watchlist.id) }}">{{ watchlist.title }}</a> - [Created: {{ watchlist.date_created }}, Updated: {{ watchlist.last_updated }}]
      <form action="{{ url_for('delete_watchlist', username=session['username'], watchlist_id=watchlist.id) }}" method="post" style="display: inline">
        <input type="submit" value="X">
      </form>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>You haven't created any watchlists.</p>
  {% endif %}
  <button id="watchlist-form-section-show">Create a New Watchlist</button>
</div>
<div id="watchlist-form-section" style="display: none">
  <h1>New Watchlist</h1>
  <form action="" method="post">
    {{ watchlist_form.hidden_tag()}}
    {% for field in watchlist_form if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label(class_="form-label") if field.widget.input_type != 'submit' }}
      {{ field(class_="form-control") }}
      {% for e in field.errors %}
      <small>{{ e }}</small>
      {% endfor %}
    </p>
    {% endfor %}
  </form>
  <button id="watchlist-form-section-hide">Cancel</button>
</div>
{% endblock %}
{% block scripts %}
<script src={{ url_for('static', filename='forms.js') }}></script>
{% endblock %}
